@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --bgclr :  #0b0a0d ;
    --textclr : #f8f3ff;
    --primaryclr : #653dc9;
    --secclr : #ee6aa6 ;
    --accentclr:#8e6fcd ;
 }
 ::selection{
     color: var(--textclr);
     background-color: var(--primaryclr);
 }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family:'Poppins',sans-serif;
 }
 html{
    background-color: var(--bgclr);
    color: var(--textclr);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
 }
 a{
     text-decoration: none;
     color: inherit;
 }

 .label_1{
    position: relative;
    display:block;
    justify-content: center;
    align-items: center;
    width:400px;
    height:300px;
    top:50%;
    left:10%;
    transform:translate(-50%,-50%);
    cursor: pointer;
    perspective: 750px;
    transform-style: preserve-3d;
}

.website-branding{
    margin-left: 80px;
}

.label_2{
    position: relative;
    display:block;
    justify-content: center;
    align-items: center;
    width:400px;
    height:300px;
    top:50%;
    left:90%;
    transform:translate(-50%,-50%);
    cursor: pointer;
    perspective: 750px;
    transform-style: preserve-3d;
}

.front{
    padding:30px;
    background: url('../images/bg.avif');
    background-position: center;
}

.label_3{
    position: relative;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:400px;
    height:300px;
    top:50%;
    left:10%;
    transform:translate(-50%,-50%);
    cursor: pointer;
    perspective: 750px;
    transform-style: preserve-3d;
}

.card{
    position: relative;
    width:100%;
    height:100%;
    text-align: center;
    font-size: 1.5em;
    z-index: 20;
    transition:all 1400ms;
    transform-style: preserve-3d;
}

.card div{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background-position: center;
}

.steps{
    margin-bottom: 3px;
}
.card .back_1{
    background:url('../images/copy-link.jpg');
    background-size:cover;
    box-shadow: 0 0 20px var(--secclr);
    transform:rotateY(180deg);
}
.card .back_2{
    background:url('../images/link-ss.jpeg');
    background-size:cover;
    box-shadow: 0 0 20px var(--secclr);
    transform:rotateY(180deg);
}
.card .back_3{
    background:url('../images/check-button.jpg');
    background-size:cover;
    transform:rotateY(180deg);
}

.label_1:hover .card{ 
    transform:rotateY(180deg);
    transition: 1.5s;
}
.label_2:hover .card{ 
    transform:rotateY(180deg);
    transition: 1.5s;
}
.label_3:hover .card{ 
    transform:rotateY(180deg);
    transition: 1.5s;
}

.back_1, .back_2, .back_3, .front {
    border-radius: 20px;
    box-shadow: 0 0 20px var(--secclr);
}

.inputBox{
    width:50%;
    /* margin-top:20px; */
    margin-left: 25%;
    border-radius:1px;
    padding:5px 10px 5px 10px;
}
body{
    min-height:100vh;
}

.bg {
    position:absolute;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.bubbles{
    position:relative;
    display: flex;
}

/* .tag{
    position: relative;
} */
.bubbles span{
    position:relative;
    min-width: 30px;
    height:30px;
    background: rgba(128, 128, 128, 0.14);
    border-radius: 50%;
    box-shadow:0 0 10px #999 ;
    margin:0 4px;
    animation:animate 15s linear infinite;
    animation-duration: calc(100s/var(--i));
}

@keyframes animate {
    0%{
        transform:translateY(100vh) scale(0.2);
    }
    100%{
        transform:translateY(-100vh) scale(3);
    }
}   

.i{                               /*BMY Start*/
    top:5%;
    position: absolute;
    padding: 0;
    display:inline;
 }

 body{
     position: relative;
     scroll-snap-type: y mandatory;
 
 }
 nav{
    z-index: 1000;
     height: 65px;
     width: 100%;
     background-color:#0b0a0d;
     display: flex;
     justify-content: space-between;
     padding-inline: 30px;
     align-items: center;
     position: fixed;
     top: 0;
     font-size: 1.6rem;
    border-bottom: 2px solid var(--accentclr);
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(101, 61, 201);
    & .website-branding{
         font-weight: 900;
         font-size: 2rem;
         
    }
    & .shortcuts{
     display:flex;
     justify-content: space-between;
     width: 300px;
    }
 }
 section{
     width: 100%;
     height: 100vh;
     padding-top: 90px;
     /* padding: 50px 10px; */
     scroll-snap-align: start;
     scroll-margin-top: 50px;
 }
 .home{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 50px;
 }
 .tagline{
     font-size: 6.5rem;
     font-weight: 800;
     letter-spacing: -1.5px;
     text-shadow:0px 5px 0px #777777;
     text-align: center;
     position:relative;

     & span{
         color: var(--accentclr);
         text-shadow: 0 7 2px rgb(56, 21, 144);;
     }
 }
 .tagline span{
    font-size: 6.5rem;
    font-weight: 800;
    letter-spacing: -1.5px;
    text-align: center;
    text-shadow:0px 5px 2px #5e00aa;
    /*position:relative;                          /*modified*/
    & span{
         color: var(--accentclr);
         text-shadow: 0 7 0px rgb(72, 0, 255);;
     }
 }

 .input-link{
     font-size: 3rem;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .linkcheck{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
 }
 .input-button{
     display: flex;
    flex-direction: column;
    align-items: center;
     & input{
         width: 300px;
         height: 45px;
         border-radius: 40px;
         border: none;
         padding-left: 43px;
        box-shadow: 0 0 10px rgb(146, 148, 255);
        font-size: 1.6rem;
        background: transparent;
        outline: 1px solid white;
     }
     & button{
         height: 45px;
         width: 140px;
         background-color: var(--primaryclr);
         border: none;
         color: var(--textclr);
         font-size: 1.8rem;
         border-radius: 20px;
         z-index: 100;
         font-weight: 600;
         transition: background-color 0.15s,box-shadow 0.15s;
         &:hover{
             box-shadow: 0 0 15px rgb(137, 90, 255);
         }
         &:active{
             opacity: 0.8;
         }
     }
 }
 .instruction{
    box-sizing: border-box;
     gap: 50px;
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     & h1{
         font-size: 6rem;
         text-align: center;
         margin-bottom: 30px;
         /* text-shadow:0px 5px 0px #777777;  */
     }
     & ol{
         gap: 30px;
         display: flex;
         justify-content: space-evenly;
     }
     & li{
         list-style-type: none;
         font-size: 2.2rem;
         font-weight: 600;
         margin-top: 35px;
     }
 }

 .steps .label{
    margin-right: 200px;
    display: flex;

}

 .step{
     display: flex;
     flex-direction: column;
     align-items: center;
     & .image-step{
         box-shadow: 0 0 20px var(--secclr);
         border-radius: 20px;
     }
     & img{
         width: 400px;
         height: 300px;
         border-radius: 20px;
         object-fit: cover;
     }
     &:hover{
        transform: scale(1.15);
     }
     & .second{
         object-fit: contain;
     }
 }
 .about-awarness{
    margin-top:600px;
    font-size: 1.8rem;
    & h3{
        font-size: 2.8rem;
        text-shadow: 0 0 15px var(--secclr);
    }
    & .cards{
       display: flex;
       justify-content: space-around;
       align-items: center;
    }
    & h1{
        font-size: 6rem;
        text-align: center;
        margin-bottom: 80px;
        /*text-shadow:0px 5px 0px #777777;          /*modified*/
    }
    & .card-about{
        border: 1px solid white;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 350px;
        gap: 10px;
        border-radius: 20px;
        background: url('../images/bg.avif');
        background-position: center;
        transition: transform 0.5s, box-shadow 0.5s;
        &:hover{
            box-shadow: 0 0 20px var(--secclr);
            transform: translateY(-3%);
            cursor: pointer;
        }
    }
    .youtube{
        border-radius: 20px;
        border: 1px solid white;   
        height: 300px;
        transition: transform 0.5s, box-shadow 0.5s;
        &:hover{
            box-shadow: 0 0 20px var(--secclr);
            transform: translateY(-3%);
            cursor: pointer;
        }
    }

    & iframe{
        width: 500px;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
    }
    & p , & ul{
        text-align: center;
    }
    & li{
        list-style-type: none;
    }
 }
 .contactsec{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & h1{
            font-size: 6rem;
            text-align: center; 
            margin-bottom: 40px;
            /*text-shadow:0px 5px 0px #777777;          /*modified*/  
        }
        & textarea{
            resize: none;
            outline: none;
            border: 2px solid var(--accentclr);
            border-radius: 5px;
            width: 350px;
            color: var(--textclr);
        font-size: 1.5rem;
        padding: 10px;
        background-color: var(--bgclr);
        transition: box-shadow 0.15s;
    }
    & textarea:hover{
        box-shadow: 0 0 10px var(--accentclr);
    }
    & textarea:focus {
        border: 2px solid var(--secclr);
        box-shadow: 0 0 10px var(--secclr);
    }
    & textarea:focus + label,
    & textarea:valid + label{
        color: var(--secclr);
        transform: translate(-95px,-123px) scale(0.88);
        padding-inline:5px ;
    }
    & .button{
        margin-top: 25px;
        display: flex;
justify-content: center;


        width: 100%;
    }
            & button{
                height: 45px;
        width: 140px;
                background-color: rgb(89, 58, 169);
                color: var(--textclr);
                font-size: 1.7rem;
                border-radius: 20px;
                font-weight: 600;
                border: none;
                transition: background-color 0.1s,border 0.1s;
                &:hover{
                    cursor: pointer;
                    box-shadow: 0 0 15px rgb(137, 90, 255);
                }
                &:active{
                    border: 2px solid var(--accentclr);
                    background-color: transparent;
                }
            }
        }
 
 .inputs{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    height: 40px;
    & label{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-weight: 600;
        color: var(--textclr);
        font-size: 1.4rem;
        background-color: var(--bgclr);
        transition: transform 0.4s;
    }
    & input{
        outline: none;
        height: 40px;
        border: 2px solid var(--accentclr);
        border-radius: 5px;
        font-size: 1.5rem;
        padding-left: 10px;
        width: 350px;
        color: var(--textclr);
        background-color: var(--bgclr);
        transition: box-shadow 0.15s;
    }
    & input:hover{
        box-shadow: 0 0 10px var(--accentclr);
    }
    & input:focus {
        border: 2px solid var(--secclr);
        box-shadow: 0 0 10px var(--secclr);
    }
    & input:focus + label,
    & input:valid + label{
        color: var(--secclr);
        transform: translate(-5px,-28px) scale(0.88);
        padding-inline:5px ;
    }
}
.feedback{
    display: flex;
        justify-content: center;
        align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--bgclr);
    & label{
        text-align: center;
        position: absolute;
        font-weight: 600;
        color: var(--textclr);
        font-size: 1.4rem;
        background-color: var(--bgclr);
        transition: transform 0.4s;
        
    }
}

.star{
    position: fixed;
    pointer-events: none;
}

.star:before, .star:after{
    position: absolute;
    top:0;
    left:0;
    content:'\2726';
    font-size:9px;
}

.star:before{
    color:transparent;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

.star:after{
    background:rgb(238, 255, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text_box{
    text-align: center;
    justify-content: center; 
    align-items: center;
}

 .btns {
    color:white;
    background: #653dc9;
    width:200px;
    padding: 2px 30px 2px 30px;
    z-index: 900;
    justify-content: center; 
    align-items: center;
    border-radius: 30%;
    transition: background-color 0.15s,box-shadow 0.15s;
            &:hover{
                box-shadow: 0 0 15px rgb(137, 90, 255);
            }
            &:active{
                opacity: 0.8;
            }
 }

 body {
    /* display: flex; */
    height: 100vh;
    margin: 0;
}

#overlay {
    z-index: 900;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup {
    z-index: 900;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#msg{
    border: 3px solid var(--accentclr);
    font-size: 2rem;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}