<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Shield</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/main.css')}}">
    <link rel="icon" alt="logo" sizes="180x180" href="{{url_for('static' , filename = 'images/logo.png')}}"/>
</head>
<body id = "myModal">
    <nav class="tag">
       
        <div class="website-branding"> <img class="i" alt="img" height="70px" width="70px" src="{{url_for('static' , filename = 'images/logo.png')}}"/><p>DARK SHIELD</p></div>
        <div class="shortcuts">
            <div class="about"><a href="#about">About</a></div>
            <div class="about"><a href="#inst">Instructions</a></div>
            <div class="about"><a href="#contact">Contact us</a></div>
        </div>
    </nav>
    <section class="home">
        <div class="tagline">
            Safeguarding Your Journey from <br><div class="highlight"><span>Dark Patterns</span><img src="../static/images/underline.png" alt=""></div>
        </div>
        <form action='/check_pattern' method='POST' class="form_check">
            <div class="container">
                <label class="input-link">Enter your link</label>
                <div class="inputs">
                    <input type="url" name="url" id="urlInput" placeholder="https://example.com"  required>
                </div>
            </div>
            <div class="input-button">
                <button class="btn" onclick="checkTimer()" type="submit" id="check">Check</button>
            </div>
        </form>        
        <div id="msg">
            <br><h4><b>{{message}}</b></h4>
        </div>
    </section>
    <section class="instruction" id="inst">
    <h1>Steps to follow</h1>
    <div class="steps">
        <div class="label_1" >
            <div class="card">
                <div class="front"><h2>Step1 : Copy the link of the Website</h2></div>
                <div class="back_1"></div>
            </div>
        </div>
    </div>
    <div class="steps">
        <div class="label_2" >
            <div class="card">
                <div class="front"><h2>Step2 : Paste the link in the input box <br></h2></div>
                <div class="back_2"></div>
            </div>
        </div>
    </div>
    <div class="steps">
        <div class="label_3" >
            <div class="card">
                <div class="front"><h2>Step3 : Click on the check Button</h2></div>
                <div class="back_3"></div>
            </div>
        </div>
    </div>
    </section>
    <section class="about-awarness" id="about">
        <h1>About</h1>
        <div class="cards">
            <div class="card-about">
                <h3>What is dark pattern?</h3>
                <p>An e-commerce dark pattern is a deceptive design tactic in online shopping interfaces that tricks or manipulates users into unintended actions, impacting their shopping decisions and overall experience.</p>
            </div>
            <div class="youtube "><iframe src="https://www.youtube.com/embed/SyeZf50jQXU?si=cOlSQfiRN8z0Eh-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="card-about"><h3>Examples</h3>
                <ul>
                    <li>Hidden Fees</li>
                    <li>Tricky Opt-Outs </li>
                    <li>False Scarcity </li>
                    <li>Misleading Discounts </li>
                    <li>Forced Account Creation </li>
                    
                </ul>
            </div>
        </div>
        </div>

    </section>
    <section class="contactsec">
        <h1>Contact Us</h1>
        <form action="" class="contactform" id="contact">
            <div class="name inputs">
                <input type="text" required>
                <label for="name">Enter your Name</label>
            </div>
            <div class="mail inputs">
                <input type="Email"  required>
                <label for="Email">Enter your Email</label>
            </div>
            <div class="feedback">
                <textarea name="" id="" cols="30" rows="10" required></textarea>
                <label for="feedback">Enter your feedback</label>
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </section>
    <script>
document.getElementById('check').onclick = () => {
    if (document.getElementById('urlInput').validity.valid) {
        document.getElementById('msg').style.display = 'flex';
        const msgHeight = document.getElementById('msg').offsetHeight;
        const scrollTo = window.scrollY + (window.innerHeight * 0.25) - (msgHeight / 2);

        // Scroll to the calculated position
        window.scrollTo({
            top: scrollTo,
            behavior: 'smooth'
        });
    } else {
        document.getElementById('msg').style.display = 'none';
    }
};
    const form = document.getElementById("contact");

    form.addEventListener("submit", function(event) {
        event.preventDefault();
        const name = form.querySelector('input[type="text"]').value;
        const email = form.querySelector('input[type="Email"]').value;
        const feedback = form.querySelector('textarea').value;

        console.log("Name:", name);
        console.log("Email:", email);
        console.log("Feedback:", feedback);

        form.reset();

        // Show an alert or message to the user (optional)
        alert("Thank you for your feedback !!");

    });


      

    </script>
</body>
</html>