<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Shield</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/main.css')}}">
    <link rel="icon" alt="logo" sizes="180x180" href="{{url_for('static' , filename = 'images/logo.png')}}"/>
</head>
<body id = "myModal">
    <div class="bg">
        <div class="bubbles">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:13"></span>
            <span style="--i:15"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:13"></span>
            <span style="--i:15"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:13"></span>
            <span style="--i:15"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:13"></span>
            <span style="--i:15"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:28"></span>
        </div>
    </div>
    <nav class="tag">
        <img class="i" alt="img" height="70px" width="70px" src="{{url_for('static' , filename = 'images/logo.png')}}"/>
        <div class="website-branding">DARK SHIELD</div>
        <div class="shortcuts">
            <div class="about"><a href="#about">About</a></div>
            <div class="about"><a href="#inst">Instructions</a></div>
            <div class="about"><a href="#contact">Contact us</a></div>
        </div>
    </nav>
    <div class="face">
        <div class="eyes">
            <div class="eye"></div>
            <div class="eye"></div>
        </div>
    </div>
    <section class="home">
        <div class="tagline">
            Safeguarding Your Journey from <br><span>Dark Patterns</span>
        </div>
        <form action='/check_pattern' method='POST'>
            <div class="container">
                <label class="input-link">Enter your link</label>
                <div class="inputs">
                    <input type="url" name="url" id="urlInput" placeholder="https://example.com"  required>
                </div>
            </div>
            <div class="input-button">
                <button class="btn" onclick="checkTimer()" type="submit" id="check">Check</button>
            </div>
        </form>        
        <div id="msg">
            <br><h4><b>{{message}}</b></h4>
        </div>
    </section>
    <section class="instruction" id="inst">
    <h1>Steps to follow</h1>
    <div class="steps">
        <div class="label_1" >
            <div class="card">
                <div class="front"><h2>Step1 : Copy the link of the Website</h2></div>
                <div class="back_1"></div>
            </div>
        </div>
    </div>
    <div class="steps">
        <div class="label_2" >
            <div class="card">
                <div class="front"><h2>Step2 : Paste the link in the input box <br></h2></div>
                <div class="back_2"></div>
            </div>
        </div>
    </div>
    <div class="steps">
        <div class="label_3" >
            <div class="card">
                <div class="front"><h2>Step3 : Click on the check Button</h2></div>
                <div class="back_3"></div>
            </div>
        </div>
    </div>
    </section>
    <section class="about-awarness" id="about">
        <h1>About</h1>
        <div class="cards">
            <div class="card-about"><div class="front"><h3>What is dark pattern?</h3></div><div class="back"><p>An e-commerce dark pattern is a deceptive design tactic in online shopping interfaces that tricks or manipulates users into unintended actions, impacting their shopping decisions and overall experience.</p></div></div>
            <div class="youtube "><iframe src="https://www.youtube.com/embed/SyeZf50jQXU?si=cOlSQfiRN8z0Eh-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="card-about"><div class="front"><h3>Examples</h3></div><div class="back">
                <ul>
                    <li>Hidden Fees</li>
                    <li>Tricky Opt-Outs </li>
                    <li>False Scarcity </li>
                    <li>Misleading Discounts </li>
                    <li>Forced Account Creation </li>
                    
                </ul>
            </div>
        </div>
        </div>

    </section>
    <section class="contactsec">
        <h1>Contact Us</h1>
        <form action="" class="contactform" id="contact">
            <div class="name inputs">
                <input type="text" required>
                <label for="name">Enter your Name</label>
            </div>
            <div class="mail inputs">
                <input type="Email"  required>
                <label for="Email">Enter your Email</label>
            </div>
            <div class="feedback">
                <textarea name="" id="" cols="30" rows="10" required></textarea>
                <label for="feedback">Enter your feedback</label>
            </div>
            <div class="button">
                <button>Submit</button>
            </div>
            
        </form>
    </section>
    <script>
document.getElementById('check').onclick = () => {
    if (document.getElementById('urlInput').validity.valid) {
        document.getElementById('msg').style.display = 'flex';
        const msgHeight = document.getElementById('msg').offsetHeight;
        const scrollTo = window.scrollY + (window.innerHeight * 0.25) - (msgHeight / 2);

        // Scroll to the calculated position
        window.scrollTo({
            top: scrollTo,
            behavior: 'smooth'
        });
    } else {
        document.getElementById('msg').style.display = 'none';
    }
};

        window.addEventListener('mousemove',function(e){
            var arr=[1,.8];
    
            arr.forEach(function(i){
                var x=( 1 - i )*75;
                var star=document.createElement('div');
    
                star.className='star';
                star.style.top=e.pageY+Math.round(Math.random()*x-x/2)+'px';
                star.style.left=e.pageX+Math.round(Math.random()*x-x/2)+'px';
    
                document.body.appendChild(star);
    
                window.setTimeout(function(){
                    document.body.removeChild(star);
                },Math.round(Math.random()*i*600));
            });
        },false);

    </script>
</body>
</html>